/* -------------------------------------------------------------
- Site Name: DESIGNA Studio
- Version: 2.01 (August 2012)
- Site URI: http://sylvainlafitte.com/designa/
- Author: Sylvain Lafitte
- Author URI: http://sylvainlafitte.com

- Resources:
	HTML5 Boilerplate (http://html5boilerplate.com/),
	Normalise.css (http://necolas.github.com/normalize.css/), 
	Proportional grids by Boon (http://builtbyboon.com),
	CSS Tricks (css-tricks.com).
------------------------------------------------------------- */



/* -------------------------------------------------------------
======	RESET
------------------------------------------------------------- */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
:hover, :focus, :active { outline: none; }


html, button, select, textarea {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: 400; /* normal */
	color: #555; 
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}

body { margin: 0; font-size: 13px; line-height: 1.6;}

a { color: #7D7D7D; font-weight: normal;
	cursor: pointer;  text-decoration: none;
	transition:all 0.2s ease; -moz-transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease;}

a:hover { color: #000; text-decoration: none;} 



::-moz-selection { background: #0078CF; color: #fff; text-shadow: none; }
::selection { background: #0078CF; color: #fff; text-shadow: none; }	

p{margin: 0 0 1em;}

a:visited{opacity:0.9;}
a:active, a:focus{position:relative;}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
hr{display:block; height:1px; border:0; border-top:1px solid #ddd; margin:1em 0; padding:0}
pre, code, kbd, samp{font-family:monospace,monospace; _font-family:'courier new',monospace; font-size:1em}
q{quotes:none}
q:before, q:after{content:""; content:none}
blockquote { margin: 1em 1em 1em 0; padding: 1em; border-left: 1px solid #DDD; font-style: italic; color: #999;}
blockquote p {font-size: 1.1em;line-height: 2em;margin-bottom: 0;}
blockquote small {display: block;font-size: 1em;line-height: 1.6em;color: #bfbfbf; text-align: right;}
blockquote small:before {content: '\2014 \00A0';}
b, strong{font-weight:700}
small{font-size:85%; color: #999;}
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dd{margin:0 0 0 40px} dt{font-weight: 700;}
ul, ol{list-style:none; list-style-image:none; margin:0; padding:0;}
img{border:0; -ms-interpolation-mode:bicubic; vertical-align:middle}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:0; margin:0; padding:0}
label{cursor:pointer}
legend{border:0; *margin-left:-7px; padding:0;white-space: normal;}



textarea{overflow:auto; vertical-align:top; resize:vertical}
table{border-collapse:collapse; border-spacing:0}
td{vertical-align:top}
.chromeframe { margin: 1em 0; background: red; color: black; padding: 1em; }





/* -- BUTTONS 
------------------------------------------------------------- */
.button, input[type="submit"], button, .toggle-title {
	
	font-size: 1.1em;
	font-weight: normal;
	padding: 0.6em 1.2em;
	text-decoration: none;
	cursor: pointer;
	
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all; }
.button:hover, input[type="submit"]:hover, button:hover, .toggle-title:hover {
	color: #333;
	text-decoration: none;
}
.button:focus, input[type="submit"]:focus, button:focus, .toggle-title:focus {
	color: #333;
}
.button:active, input[type="submit"]:active, button:active, .toggle-title:active {
	

	position: relative;}



/* -- TYPO
------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{margin:0 0 1em; font-weight: normal;}

h1 {font-size: 40px; 
	letter-spacing: -0.075em; 
	line-height: 0.9; 
	color: #555;
	margin: 0 0 0.5em; 
	font-weight: normal; }
h2 { font-size: 2.5em; margin: 0 0 20px; letter-spacing: -0.05em; color: #555; line-height: 1; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.17em; text-transform: uppercase; margin: 0; color: #555; }
h6 { font-size: 1em; margin-bottom: 2px; font-weight: 700; }

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#333; text-decoration: none;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#0078CF;text-decoration: underline;}



/* -- GRID  https://github.com/mattberridge/Proportional-Grids/
------------------------------------------------------------- */
body{width:100%;}
.container {
	width: 90%; 
	margin: 0px auto; 
	max-width: 1100px; 
	min-width: 300px; 
	z-index: 2 ; 
	opacity: 1;
	position: relative;
	}
 
.grid-wrap {
  overflow: hidden;
  *zoom:1;}
  .grid-wrap:before, .grid-wrap:after{content:""; display:table}
  .grid-wrap:after{clear:both}
  
.grid {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/js/boxsizing.htc); }
  
.half-gutter {margin-left: -1.5em; }
  .half-gutter .grid-col {padding-left: 1.5em; }
  
.col-full {width: 100%; }
.col-one-half {width: 44%; margin: 0px 3%;}
.col-one-third {width: 33.333%; }
.col-two-thirds {width: 66.666%; }
.col-one-quarter {width: 25%; }
.col-three-quarters {width: 75%; }

.divide-top{border-top: 1px solid #ccc;padding-top: 2em;margin-top: 1.5em; }

.mright{ margin-right: 3em;}
.mleft{ margin-left: 3em;}
.mtop{ margin-top: 3em;}
.mbottom{ margin-bottom: 3em;}
.halfmright{ margin-right: 1.5em;}
.halfmleft{ margin-left: 1.5em;}
.halfmtop{ margin-top: 1.5em;}
.halfmbottom{ margin-bottom: 1.5em;}

.fright, .fleft{display:block; overflow:hidden}
.fright{float:right}
.fleft{float:left}

.alignleft{float: left;clear: left;margin: 0.38em 1.62em 0.38em 0;}
.alignright {float: right;clear: right;margin: 0.38em 0 0.38em 1.62em;}
.aligncenter {margin: 0 auto 1.62em;display: block;}



/* -- MISC
------------------------------------------------------------- */
figure { max-height: 100%; overflow: hidden;}
figure figcaption { }
img { max-width: 100%; height: auto; width: auto; }
a img {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease; }
a img:hover {
	*zoom: 1;
	opacity: 0.7;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
	filter: alpha(opacity = 70);}
    
    
    
/* -------------------------------------------------------------
======	PAGES
------------------------------------------------------------- */

html{ height: 100%; }


.index{
	width: 100%;
	height: 800px;
	position: absolute;
	display: block;
	background: url(../img/index_bg.jpg) center bottom no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	overflow: hidden;
	z-index: -2;
	top: 0px;
}

.menu_logo{
	width: 207px;
    height: 52px;
    z-index: 10;
	float: left;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}
.act{
	width: 700px;
	height: 800px;
	margin: 0px auto;
	position: relative;
	z-index: 0;
	overflow: visible;
}

.act .pics img{
	position: absolute;
}

.leftline{
	padding-left: 18px;
    border-left: 2px solid #BFBFBF;
    line-height: 24px;
}

h5 { font-weight: bold; }
h6{ color: #949494; }
.arr_down{
	width: 40px;
	height: 70px;
	cursor: pointer;
	left: 50%;
	top:67%;
	opacity: 0.7;
	margin-left: -22px;
	z-index: 10000;
	position: absolute;
	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
	background: url("../img/arr_down.png") center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

#msg{ 
	width: 100%;
    height: 107px;
    margin-bottom: 10px;
    min-height: 10px;
}

.submit{
    float: right;
    width: 100%;
    border: none;
    background: #9EA8BD;
    color: aliceblue;
	height: 35px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.submit:hover{
	background: #BACCE7;
	color: #FFF;
	border: none;
}

.message{
	margin-top: 55px;
}

#name, #email, #msg{
	background: #E0DEE2;
    border: none;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
}

#name, #email{
	width: 80%;
	height: 45px;
    margin-bottom: 15px;
}

.arr_down:hover{
	opacity: 1;
}


.index_p1{
	    width: 80%;
    top: 138px;
    left: 12.1%;}

.index_p2{
	width: 85%;
    top: -224px;
    left: 6.4%;
}

.index_p3{
	    width: 13%;
    top: 336px;
    left: 43%;
}

.index_p4{
	width: 75%;
    left: 12%;
    top: 122px;

}
.molile_m{display: none;}
.menu, .m_menu_bar{ opacity: 0; display: none;}

.show{ display: block; }
.hide{ display: none; }
.show_menu{
	opacity: 1;
	display: inline-block;
	background: #FFF;
}

#gl02{
	display: none;
}

.tabs{
	width: 100%;
	clear: both;
	border-bottom: 1px solid #C3CAC8;
	margin-bottom: 10px;
}
#tab01,#tab02{
	float: left;
	position: relative;
	top: 2px;
    padding: 9px 20px;
    background: #D2D2D2;
    margin-right: 2px;
    -webkit-transition: background 0.7s;
    	   -moz-transition: background 0.7s;
    	    -ms-transition: background 0.7s;
    	     -o-transition: background 0.7s;
    	        transition: background 0.7s;	
}

#tab01:hover, #tab02:hover{
	background: #F8F8F8;
	
}
.active{ 
	background: #636363 !important;
    border-top: 3px solid #000000;
    padding: 7px 20px 10px 20px !important;
    top: 0px !important;
    color: #fff;
    font-weight: bold;
	 }

.gotop{
	display: none;
	width: 50px;
	height: 60px;
	background: url("../img/gotop.svg") center top no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 3;
	opacity: 0.5;
	cursor: pointer;
	-webkit-transition: all 0.8s;
	   -moz-transition: all 0.8s;
	    -ms-transition: all 0.8s;
	     -o-transition: all 0.8s;
	        transition: all 0.8s;
}

.gotop:hover{
	opacity: 1;
}

.cubes{
	width: 100%;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	z-index: -1;	
}

.contact_iframe{
	width: 100%;
	height: 240px;
}

.fb{
	background: #9EA8BD;
	height: 40px;
	width: 50%;
	line-height: 40px;
    text-align: center;
    color: aliceblue;
    margin-top: 20px;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

.fb:hover{
	background: #3a5795;
	color: #fff;
}

.fb_icon{
	width: 20px;
    vertical-align: sub;
    margin-right: 5px;
}

#chart01{ width:100%; height: 400px; margin: 0 auto;  float: left;}

#chart02{ width:100%; height: 400px; float: left; margin:55px auto 0 auto; max-width: 500px;}

#chart03{ width:100%; height: 400px; float: left;}

#chart03 g.highcharts-legend { display:block; }

.highcharts-title{ 
	font-size: 22px !important;
	fill: #8963A5 !important;
	}
g.highcharts-tooltip,
g.highcharts-legend,
g.highcharts-yaxis-labels>text,
svg>g.highcharts-button>rect, 
svg>g.highcharts-button>path, 
svg>text:last-child
{ display: none; }

#highcharts-4>svg>.highcharts-series-group>.highcharts-series-0>rect
{ fill:#6857A7 !important; }
#highcharts-4>svg>.highcharts-series-group>.highcharts-series-1>rect
{ fill:#A073A7 !important; }
#highcharts-4>svg>.highcharts-series-group>.highcharts-series-2>rect
{ fill:#59708D !important; }



#highcharts-4>svg>.highcharts-series-group>.highcharts-series-4>path:nth-child(1)
{ fill:#6857A7 !important; }
#highcharts-4>svg>.highcharts-series-group>.highcharts-series-4>path:nth-child(2)
{ fill:#A073A7 !important; }
#highcharts-4>svg>.highcharts-series-group>.highcharts-series-4>path:nth-child(3)
{ fill:#59708D !important; }

.highcharts-legend>g>g>.highcharts-legend-item:nth-child(1)>rect
{ fill:#6857A7 !important; }
.highcharts-legend>g>g>.highcharts-legend-item:nth-child(2)>rect
{ fill:#A073A7 !important; }
.highcharts-legend>g>g>.highcharts-legend-item:nth-child(3)>rect
{ fill:#59708D !important; }

.cl{ clear: both; }


.gray_bg_top{
	background: url(../img/bg_gray.svg) no-repeat center top;
	width: 100%;
    position: absolute;
    right: 0px;
    top:100%;
    z-index: 1;
    margin-top: -155px;
    min-width: 1500px;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

}

.gray_bg_top img{
	width: 100%;
}

.sec1_2{
	position: relative;
}

.sec04>.home-page>section, .sec03>.home-page>section{
	margin-bottom: 50px;
}


.footer_top{
	width: 100%;
}
.footer_top img{
	width: 100%;
}

.footer{
	background: #EBEBEB;
	width: 100%;
	text-align: center;
	padding: 20px;
	letter-spacing: 10px;
}


.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
    float: left;
    margin-bottom: 15px;
    width: 20%;
}
.demo-gallery > ul > li a {
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  opacity:1;
    margin: 2px;
}

.demo-gallery > ul > li a:hover {
	opacity: 1;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 1);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}



		
		
/* -- GENERAL 
------------------------------------------------------------- */
.main > section { margin-bottom: 150px; }
.main header{ color: #555; margin-bottom: 3em; }
.main header hr{border-top-color:#999;}
.arrow:after {content:" \27F6"; /* html unicode: &#10230; */ } 
header .arrow {color: #999; font-style: italic;}
.arrow:hover {color: #0078CF; }

